.mainNav {
  clear: both;
  margin-bottom: 50px;
}

.mainNav__button {
  background: none;
  color: #999999;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
  border: none;
  margin: 0;
}

/* Add margin to middle nav button */
.mainNav__button:nth-child(2) {
  margin: 0 45px;
}
